<nav>
	<div class="nav-wrapper-work">
		<div ui-sref='docsHome' class='docs-icon-work cursor-mode'>
			<a class='material-icons'>subject</a>
		</div>
		<div class='nav-row-work'>
			<div class='file1'>
				<div class='left-user'>
					<input ng-model="docsTitle" placeholder="Untitled Documents">
					<a href="" class="ion-ios-star-outline"></a>
					<a href="" class="ion-ios-folder"></a>
				</div>
				<div class='right-user'>
					<p class='dropdown-button' ng-click='d=!d' >{{username}} &nbsp; <span class='ion-arrow-down-b'></span></p>
				</div>
			</div>
			<div class='file2'>
				<div>
					<a class='dropdown-button' href='#' data-activates='dropdown1'>File</a>
					<a class='dropdown-button' href='#' data-activates='dropdown1'>Edit</a>
					<a class='dropdown-button' href='#' data-activates='dropdown1'>View</a>
					<a class='dropdown-button' href='#' data-activates='dropdown1'>Insert</a>
					<a class='dropdown-button' href='#' data-activates='dropdown1'>Format</a>
					<a class='dropdown-button' href='#' data-activates='dropdown1'>Data</a>
					<a class='dropdown-button' href='#' data-activates='dropdown1'>Tool</a>
					<a class='dropdown-button' href='#' data-activates='dropdown1'>Add-ons</a>
					<a class='dropdown-button' href='#' data-activates='dropdown1'>Help</a>
					<a href='#' style='color:grey;' class='edited'>Last Edit Yesterday</a>
				</div>
				<div class='right-share'>
					<button class='comment-btn'>Comments</button>
					<button class='share-btn'><span class="ion-locked"> Share</span></button>
				</div>

				<!-- dropdown-content -->
				<ul id='dropdown1' class='dropdown-content'>
					<li><a href="#!">one</a></li>
					<li><a href="#!">two</a></li>
					<li class="divider"></li>
					<li><a href="#!">three</a></li>
					<li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
					<li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
				</ul>
			</div>
			<!-- end -->
		</div>
	</div>
</nav>

<div ng-show='d' class='myprofile-main'>
		<div class='profile-top-bar'>
		<img class='profile-main-pic' src="{{pic2}}">
		<div class='myprofile-names'>
			<p style='font-weight:bold;margin: 5px;'>{{name}}</p>
			<p style='color:grey;margin: 5px;'>{{username}}</p>
			<button class='profile-btn'>My Profile</button>
		</div>
	</div>
		<div class='bottom-bar'>
		<a href="/auth">
			<button class='log-btn'>Login</button>
		</a>
		<a href="/auth/logout">
			<button class='log-btn'>Logout</button>
		</a>
		</div>
</div>
