<nav class='stop'>
	<div class="nav-wrapper-work">
		<div ui-sref='sheetsHome' class='icon-work'>
			<a class='material-icons'>view_module</a>
		</div>
		<div class='nav-row-work'>
			<div class='file1'>
				<div class='left-user'>
					<input name='myNumber' style='height:27px' class='sheet-name' value="Untitled Spreadsheet">
					<a href="" class="ion-ios-star-outline"></a>
					<a href="" class="ion-ios-folder"></a>
				</div>
				<div class='right-user'>
					<p class='dropdown-button' ng-click='d=!d; getUser()' >{{username}} &nbsp; <span class='ion-arrow-down-b'></span></p>
				</div>

			</div>
			<div class='file2'>
				<section class="file2-left">
					<div class="dropdown">
						<a class="button" style="cursor:pointer; color: black; padding-right:6px">File</a>
						<ul style="top: 47px;">
							<li><a>Share...</a></li>
							<!-- <li><a id='p' grabcells >Save</a></li> -->
							<li><a ng-click='saveSheet()' >Save</a></li>
							<!-- ng-click='saveSheet()' -->
							<li><a>Open...</a></li>
							<li><a>Rename...</a></li>
							<li><a>Make a copy...</a></li>
							<li><a id="icon-fix"><i class="material-icons left">delete</i>Move to trash</a></li>
							<li><a>Import</a></li>
							<li><a>See revision history</a></li>
							<li><a>Spreadsheet settings...</a></li>
							<li><a>Download as</a></li>
							<li><a>Publish to the web...</a></li>
							<li><a>Email collaborators...</a></li>
							<li><a>Email as attachment...</a></li>
							<li><a>Document details...</a></li>
							<li><a id='icon-fix'><i class="material-icons left">print</i>Print</a></li>
						</ul>
					</div>
					<div class="dropdown">
						<a class="button" style="cursor:pointer; color: black; padding-right:6px">Edit</a>
						<ul style="top: 47px;">
							<li><a id="icon-fix"><i class="material-icons left">undo</i>Undo</a></li>
							<li><a id="icon-fix"><i class="material-icons left">redo</i>Redo</a></li>
							<li><a id="icon-fix"><i class="material-icons left">content_cut</i>Cut</a></li>
							<li><a id="icon-fix"><i class="material-icons left">content_copy</i>Copy</a></li>
							<li><a id="icon-fix"><i class="material-icons left">content_paste</i>Paste</a></li>
							<li><a>Paste special</a></li>
							<li><a>Find and replace...</a></li>
							<li><a>Clear notes</a></li>
						</ul>
					</div>
					<div class="dropdown">
						<a class="button" style="cursor:pointer; color: black; padding-right:6px">View</a>
						<ul style="top: 47px;">
							<li><a>Freeze</a></li>
							<li><a>Gridlines</a></li>
							<li><a>Protected ranges</a></li>
							<li><a>Formula bar</a></li>
							<li><a>Show formulas</a></li>
							<li><a>Compact controls</a></li>
							<li><a>Full screen</a></li>
						</ul>
					</div>
					<div class="dropdown">
						<a class="button" style="cursor:pointer; color: black; padding-right:6px">Insert</a>
						<ul style="top: 47px;">
							<li><a>New sheet</a></li>
							<li><a id="icon-fix"><i class="material-icons left">comment</i>Comment</a></li>
							<li><a>Note</a></li>
							<li><a id="icon-fix"><i class="material-icons left">functions</i>Function</a></li>
							<li><a ng-click='addedChart()' id="icon-fix"><i class="material-icons left">insert_chart</i>Chart...</a></li>
							<li><a id="icon-fix"><i class="material-icons left">image</i>Image...</a></li>
							<li><a id="icon-fix"><i class="material-icons left">link</i>Link...</a></li>
							<li><a id="icon-fix"><i class="material-icons left">format_list_bulleted</i>Form...</a></li>
							<li><a id="icon-fix"><i class="material-icons left">picture_in_picture</i>Drawing...</a></li>
						</ul>
					</div>

          <section ng-show='addChart' class='addChart'>
            <span  class='chart-title'>Title :</span>
              <input ng-model='chart_name' id="chart-input">
              <span class='chart-title'>X-axis :</span>
            <div class='valschart'>
              <input ng-model='xval' id="chart-input">
              <button ng-click='grabXY("x")' class='valschart-btn'>+</button>
            </div>
              <span class='chart-title'>Y-axis :</span>
            <div class='valschart'>
              <input ng-model='yval' id="chart-input">
              <button ng-click='grabXY("y")' class='valschart-btn'>+</button>
            </div>
                <div>
                  <button ng-click='chart()' class='graph-btn'>Graph</button>
                </div>
          </section>

					<div class="dropdown">
						<a class="button" style="cursor:pointer; color: black; padding-right:6px">Format</a>
						<ul style="top: 47px;">
							<li><a>Number</a></li>
							<li><a>Font size</a></li>
							<li><a id="icon-fix"><i class="material-icons left">format_bold</i>Bold</a></li>
							<li><a id="icon-fix"><i class="material-icons left">format_italic</i>Italic</a></li>
							<li><a id="icon-fix"><i class="material-icons left">format_underline</i>Underline</a></li>
							<li><a id="icon-fix"><i class="material-icons left">format_strikethrough</i>Strikethrough</a></li>
							<li><a>Align</a></li>
							<li><a>Text wrapping</a></li>
							<li><a>Text rotation</a></li>
							<li><a>Conditional formatting...</a></li>
							<li><a>Alternating colors...</a></li>
							<li><a id="icon-fix"><i class="material-icons left">clear</i>Clear formatting</a></li>
						</ul>
					</div>
					<div class="dropdown">
						<a class="button" style="cursor:pointer; color: black; padding-right:6px">Data</a>
						<ul style="top: 47px;">
							<li><a>Named ranges...</a></li>
							<li><a>Protected sheets and ranges...</a></li>
							<li><a>Split text to columns...</a></li>
							<li><a id="icon-fix"><i class="material-icons left">filter_list</i>Filter</a></li>
							<li><a>Filter views...</a></li>
							<li><a>Pivot table...</a></li>
							<li><a>Data validation...</a></li>
						</ul>
					</div>
					<div class="dropdown">
						<a class="button" style="cursor:pointer; color: black; padding-right:6px">Tools</a>
						<ul style="top: 47px;">
							<li><a id="icon-fix"><i class="material-icons left">note_add</i>Create a form</a></li>
							<li><a>Script editor...</a></li>
							<li><a>Spelling...</a></li>
							<li><a>Enable autocomplete</a></li>
							<li><a>Notification rules...</a></li>
							<li><a>Protect sheet...</a></li>
							<li><a>Personal dictionary...</a></li>
						</ul>
					</div>
					<div class="dropdown">
						<a class="button" style="cursor:pointer; color: black; padding-right:6px">Add-ons</a>
						<ul style="top: 47px;">
							<li><a>Get add-ons...</a></li>
							<li><a>Manage add-ons...</a></li>
						</ul>
					</div>
					<div class="dropdown">
						<a class="button" style="cursor:pointer; color: black; padding-right:6px">Help</a>
						<ul style="top: 47px;">
							<li><a>Sheets help</a></li>
							<li><a>Report a problem</a></li>
							<li><a>Report abuse/copyright</a></li>
							<li><a>Function list</a></li>
							<li><a>Keyboard shortcuts</a></li>
						</ul>
					</div>
					<div class="">
						<a href='#' style='color:grey;' class='edited'>Last Edit Yesterday</a>
					</div>
				</section>
				<div class='right-share'>
					<button class='comment-btn'>Comments</button>
					<button class='share-btn'><span class="ion-locked"> Share</span></button>
				</div>
			</div>
			<!-- end -->
		</div>
	</div>
</nav>
