<div class='toolbar'>
  <div class='start'>
  <a href="" class='ion-android-print'></a>
  <a href="" class='ion-reply'></a>
  <a href="" class='ion-ios-redo'></a>
  <a href="" class='ion-paintbrush'></a>
  <div class='right-border'>
  </div>
  <a href="" >$</a>
  <a href="" >%</a>
  <a href="" >.0 <span class='ion-arrow-left-c'></span></a>
  <a href="" >.00 <span class='ion-arrow-right-c'></span></a>
  <a href="" >123 <span class='ion-arrow-down-b'></span></a>
  <div class='right-border'>
  </div>
  <a href="" >Arial &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class='ion-arrow-down-b'></span></a>
  <div class='right-border'>
  </div>
  <a href="" >10 &nbsp;&nbsp;&nbsp;&nbsp;<span class='ion-arrow-down-b'></span></a>
  <div class='right-border'>
  </div>
  <a href="" style='font-weight:bold'>B</a>
  <a href="" style='font-style:italic'>I</a>
  <a href="" style='text-decoration:underline'>U</a>
  <a href="" class='ion-android-remove'></a>
  <div class='column'>
    <a ng-click='k=!k' style="cursor:pointer;padding:3px 7px 0 6px;font-size:18px;text-align:center" >A</a>
    <div ng-style='textcolor' class='textColor'></div>
  </div>
    <div ng-show='k' class='sheet-color-drop'>
      <div style='background: black;' class='sheet-color-boxs'></div>
      <div ng-click='ccText("red")' style='background: red;' class='sheet-color-boxs'></div>
      <div style='background: orange;' class='sheet-color-boxs'></div>
      <div style='background: yellow;' class='sheet-color-boxs'></div>
      <div style='background: green;' class='sheet-color-boxs'></div>
      <div ng-click='ccText("blue")' style='background: blue;' class='sheet-color-boxs'></div>
      <div style='background: purple;' class='sheet-color-boxs'></div>
      <div style='background: pink;' class='sheet-color-boxs'></div>
      <div style='background: white;border-color:black;' class='sheet-color-boxs'></div>
    </div>

  <div class='right-border'>
  </div>
  <div style='margin-left:7px;' class='column'>
    <a ng-click='j=!j' href="" class='ion-paintbucket' style='padding-bottom:0;font-size:16px;'></a>
    <div style='background:white;' class='textColor'></div>
  </div>
  <div ng-show='j' style='left:600px' class='sheet-color-drop'>
    <div style='background: black;' class='sheet-color-boxs'></div>
    <div ng-click='ccText("red")' style='background: red;' class='sheet-color-boxs'></div>
    <div style='background: orange;' class='sheet-color-boxs'></div>
    <div style='background: yellow;' class='sheet-color-boxs'></div>
    <div style='background: green;' class='sheet-color-boxs'></div>
    <div style='background: blue;' class='sheet-color-boxs'></div>
    <div style='background: purple;' class='sheet-color-boxs'></div>
    <div style='background: pink;' class='sheet-color-boxs'></div>
    <div style='background: white;border-color:black;' class='sheet-color-boxs'></div>
  </div>

  <a href="" class='ion-ios-grid-view-outline'>&nbsp;<span class='ion-arrow-down-b'></span></a>
  <a href="" class='ion-arrow-shrink'>&nbsp;<span class='ion-arrow-down-b'></span></a>
  <div class='right-border'>
  </div>
  <a href="" class='ion-navicon'>
  <span class='ion-arrow-down-b'></span></a>
  <a class="material-icons">import_export</a>
  <div class='right-border'>
  </div>

		<a href="" class='ion-link'></a>
		<a class="material-icons">chat</a>
		<a href="" class='ion-ios-list-outline'></a>
		<a href="">&Sigma; &nbsp;<span class='ion-arrow-down-b'></span></a>
	</div>

	<div class='endArrow'>
		<a href="" class='ion-arrow-up-a'></a>
	</div>

</div>
