<!-- <slides-menu><slides-menu/> -->

  <input type="file" onchange="angular.element(this).scope().createImg(this.files[0])" name="file-input"  id="file-input" style="display:none">
<!-- SLIDES MENU -->
<nav>
  <div class="nav-wrapper-work">
    <div ui-sref='slidesHome' class='slides-icon cursor-mode'>
      <a class='material-icons' style="transform: rotate(90deg); margin-top:20px">content_copy</a>
    </div>
    <div class='nav-row-work'>
      <div class='slides-title'>
        <div class='slides-title-input'>
          <input value="Untitled Presentation">
          <a href="" class="ion-ios-star-outline"></a>
          <a href="" class="ion-ios-folder"></a>
        </div>
        <div class='slides-user'>
          <p class='dropdown-button' href='#' data-activates='dropdown1'>domd0101@gmail.com &nbsp; <span class='ion-arrow-down-b'></span></p>
        </div>
      </div>
      <div class='slides-menu-bar'>
        <div>
          <a class='dropdown-button' href='#' data-activates='dropdown1'>File</a>
          <a class='dropdown-button' href='#' data-activates='dropdown1'>Edit</a>
          <a class='dropdown-button' href='#' data-activates='dropdown1'>View</a>
          <a class='dropdown-button' href='#' data-activates='dropdown1'>Insert</a>
          <a class='dropdown-button' href='#' data-activates='dropdown1'>Slide</a>
          <a class='dropdown-button' href='#' data-activates='dropdown1'>Format</a>
          <a class='dropdown-button' href='#' data-activates='dropdown1'>Arrange</a>
          <a class='dropdown-button' href='#' data-activates='dropdown1'>Tools</a>
          <a class='dropdown-button' href='#' data-activates='dropdown1'>Table</a>
          <a class='dropdown-button' href='#' data-activates='dropdown1'>Help</a>
          <a href='#' style='color:grey;' class='edited'>Last Edit Yesterday</a>
        </div>
        <div class='right-share'>
          <button ng-click="fullView()" class='comment-btn ion-social-youtube'>&nbsp; Present</button>
          <button class='comment-btn'>Comments</button>
          <button class='share-btn'><span class="ion-locked"> Share</span></button>
        </div>

        <!-- dropdown-content -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="#!">one</a></li>
          <li><a href="#!">two</a></li>
          <li class="divider"></li>
          <li><a href="#!">three</a></li>
          <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
          <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
        </ul>
      </div>
      <!-- end -->
    </div>
  </div>
</nav>

<!-- SLIDES TOOLBAR -->
<!-- <slides-tools><slides-tools/> -->
<div class='slides-toolbar'>
  <a href="" class='new-slide' ng-click="createSlide()">
    <i class="material-icons add-slide">add</i>
    <div class="slides-dropdown">
      <i class='material-icons' style="font-size: 15px;">arrow_drop_down</i>
    </div>
  </a>
  <a href=""><i class='material-icons'>print</i></a>
  <a href=""><i class='material-icons'>undo</i></a>
  <a href=""><i class='material-icons'>redo</i></a>
  <a href=""><i class='material-icons'>format_paint</i></a>
  <div class='slides-right-border'></div>

  <a href=""><i class="material-icons">settings_overscan</i></a>
  <a href=""><i class="material-icons">zoom_in</i></a>
  <div class="slides-right-border"></div>

  <a href="" style="transform: rotate(270deg)"><i class="material-icons">near_me</i></a>
  <a href="" make-text-box  ng-click="createTextBox()"><i class="material-icons">format_shapes</i></a>

  <label for="file-input" class="ion-image" style="font-size:18px"></label>

    <div class="dropdown">
      <a href="">
        <img src="./slidesView/pics/shapes.png" width="25px">
      </a>
      <ul style="top: 47px;">
        <li><a style="display:flex" ng-click="createShape('cir')"><i class="material-icons left">panorama_fish_eye</i>Ellipse</a></li>
        <li><a style="display:flex" ng-click="createShape('rect')"><i class="material-icons left">check_box_outline_blank</i>Rectangle</a></li>
        <li><a style="display:flex" ng-click="createShape('star')"><i class="material-icons left">star_border</i>Star</a></li>
      </ul>
    </div>
  <div class='slides-right-border'></div>


  <div class="dropdown">
        <a href=""><i class="material-icons">format_color_fill</i></a>
        <ul>
            <li><a ng-model="anyone" ng-click="changeShapeColor('red')" style="background:red; width: 94.3%; color:red">Pick a color</a></li>
            <li><a ng-model="anyone" ng-click="changeShapeColor('blue')" style="background:blue; width: 94.3%; color:blue"></a></li>
            <li><a ng-model="anyone" ng-click="changeShapeColor('black')" style="background:black; width: 94.3%; color:black"></a></li>
            <li><a ng-model="anyone" ng-click="changeShapeColor('yellow')" style="background:yellow; width: 94.3%; color:yellow"></a></li>
            <li><a ng-model="anyone" ng-click="changeShapeColor('white')" style="background:white; width: 94.3%; color:white"></a></li>
            <li><a ng-model="anyone" ng-click="changeShapeColor('green')" style="background:green; width: 94.3%; color:green"></a></li>
        </ul>
    </div>
  <a href=""><i class="material-icons">comment</i></a>
  <div class='slides-right-border'></div>

  <a href=""><b>Background...</b></a>
  <div class='slides-right-border'></div>

  <a href=""><b>Layout...</b></a>
  <div class='slides-right-border'></div>

  <a href=""><b>Theme...</b></a>
  <div class='slides-right-border'></div>

  <a href=""><b>Transition...</b></a>
  <div class='slides-right-border'></div>


  <a href="" class='material-icons slide-hide-menu'>expand_less</a>

</div>
<div class="slides-workspace">


  <div class="slide-nav">
    <div class="slide-nav-panel" active-slide-panel ng-repeat="slide in slides">
      <div  style="margin-top: 5px;">
        {{slides.indexOf(slide) + 1}}
      </div>
      <div class="slide-nav-slide" active-slide ng-click="changeSlides(slides.indexOf(slide) + 1)"></div>
    </div>
  </div>
  <div style="width: 77%">
    <div class="slide-positioning">

<!-- SLIDE CONTENTS -->

      <div class="current-slide" id="oneSlide">
          <div id="div1" grab-css></div>
          <div id="div2" grab-css></div>
          <div id="div3" grab-css></div>
          <div id="div4" grab-css></div>
          <div id="div5" grab-css></div>
          <div id="div6" grab-css></div>
          <div id="div7" grab-css></div>
          <div id="div8" grab-css></div>
          <div id="div9" grab-css></div>
          <div id="div10" grab-css></div>
          <div id="div11" grab-css></div>
          <div id="div12" grab-css></div>
          <div id="div13" grab-css></div>
          <div id="div14" grab-css></div>
          <div id="div15" grab-css></div>
          <div id="div16" grab-css></div>
          <div id="div17" grab-css></div>
          <div id="div18" grab-css></div>
          <div id="div19" grab-css></div>
          <div id="div20" grab-css></div>
          <div id="div21" grab-css></div>
          <div id="div22" grab-css></div>
          <div id="div23" grab-css></div>
          <div id="div24" grab-css></div>
          <div id="div25" grab-css></div>
          <div id="div26" grab-css></div>
          <div id="div27" grab-css></div>
          <div id="div28" grab-css></div>
          <div id="div29" grab-css></div>
          <div id="div30" grab-css></div>
      </div>


<!-- END CURRENT SLIDE -->

    </div>
    <div class="comments">
      <input type="text" placeholder="Click to add speaker notes">
      <input type="file" onchange="angular.element(this).scope().createImg(this.files[0])">
      <button create-shape  type="submit" name="button">Click to add new stuff</button>
      <button type="button" ng-click='changeShapeColor("red")' name="button">Do the shits</button>
      <button type="button" ng-click='log()' name="button">Log the shits</button>
    </div>
  </div>
</div>
