.stop {
  position: fixed;
  z-index: 3;
}
.right-user p:hover{
  font-weight: bold;
  background: white;
}
.profile-btn{
  height: 25px;
  width: 100px;
  background: #0073e6;
  border: 1px solid #a6a6a6;
  color: white;
  border-radius: 3px;
  line-height: normal;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 12px;
}
.myprofile-names button:focus{
 background: #0073e6;
 opacity: 0.4;
 color: white;
}
.myprofile{
  display: flex;
  flex-direction: column;
  background: white;
  height: auto;
  width: 300px;
  position: absolute;
  z-index: 4;
  top: 30px;
  left: 940px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  border-radius: 3px;
}
.myprofile img{
  height: 70px;
  width: 70px;
  border-radius: 100%;
  margin-right: 20px;
}
.myprofile-names{
  display: inline-flex;
  flex-direction: column;
  font-size: 13px;
}
.myprofile-names p{
  margin: 14px;
}
.bottom-bar{
  border-top: 1px solid #a6a6a6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background: #e6e6e6;
  padding: 8px;
}


.profile-top-bar{
  display: flex;
  padding: 20px;
}

.nav-wrapper-work {
  background: white;
  display: flex;
  flex-direction: row;
  color: black;
}

.icon-work {
  width: 40px;
  height: 100%;
  background: #0f9d58;
  text-align: center;
	cursor: pointer;
}

.icon-work a {
  font-size: 30px;
  padding-top: 15px;
}

.nav-row-work {
  height: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}

.file1 {
  width: 93vw;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 4px;
}

.file1 a {
  line-height: 20px;
  margin-top: 4px;
  font-size: 20px;
  color: grey;
  background: white;
  margin-right: 10px;
}

.file1 p {
  line-height: 0px;
}

.file1 input {
  border: none;
  font-style: bold;
  height: 30px;
  width: auto;
  font-size: 20px;
}

.file1 input:not([type]):focus:not([readonly]) {
  border-bottom: none;
  box-shadow: none;
}

.left-user {
  display: flex;
  justify-content: flex-start;
}

.right-user {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  margin-top: 6px;
}

.file2 {
  width: 93vw;
  font-size: 12px;
  position: relative;
}

.file2 li a div {
  color: black;
  margin-right: 10px;
  background: white;
  position: absolute;
  left: 0;
  z-index: 999;
}

.file2-left {
  justify-content: flex-start;
  display: flex;
}

#icon-fix {
  display: flex;
  align-items: center;
}

.edited {
  text-decoration: underline;
}

.right-share {
  display: inline-flex;
  align-items: center;
}

.right-share button {
  height: 30px;
  width: 80px;
  line-height: normal;
  margin-bottom: 8px;
}
.right-share button:focus{
 background: #0073e6;
 opacity: 0.4;
 color: white;
}

.comment-btn {
  background: #e6e6e6;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  margin-right: 7px;
}

.share-btn {
  color: white;
  background: #0073e6;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
}

.dropdown-button:hover {
  background-color: #EEEEEE;
}

.log-btn{
  height: 30px;
  width: 100px;
  background: #e6e6e6;
  border: 1px solid #a6a6a6;
  color: black;
  border-radius: 2px;
  line-height: normal;
  font-size: 12px;
}
.bottom-bar button:focus{
  background: white;
}

/*.dropdown-content{
  margin-top: 20px;
}*/
