.nav-wrapper-work{
  background: white;
  display: flex;
  flex-direction: row;
  color: black;
}
.icon-work {
  width: 40px;
  height: 100%;
  background: #0f9d58;
  text-align: center;
}
.nav-row-work {
  height: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}
.file1{
  width: 93vw;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 4px;
}
.file1 a{
  line-height: 20px;
  margin-top: 4px;
  font-size: 20px;
  color: grey;
  background: white;
  margin-right: 10px;
}
.file1 p{
  line-height: 0px;
}
.file1 input{
  border: none;
  font-style: bold;
  height: 30px;
  width: auto;
  font-size: 20px;
}
.file1 input:not([type]):focus:not([readonly]){
  border-bottom: none;
  box-shadow: none;
}
.left-user{
  display: flex;
  justify-content: flex-start;
}
.right-user{
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  margin-top: 6px;
}
.file2{
  width: 93vw;
  font-size: 12px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}
.file2 a{
  color: black;
  margin-right: 10px;
  background: white;
}
.edited {
  text-decoration: underline;
}
.right-share{
  display: inline-flex;
  align-items: center;
}
.right-share :focus{
  background: grey;
}
.right-share button{
  height: 30px;
  width: 80px;
  line-height: normal;
  margin-bottom: 8px;
}
.comment-btn{
  background: #e6e6e6;
  border: 1px solid  #a6a6a6;
  border-radius: 3px;
  margin-right: 7px;
}
.share-btn{
  color: white;
  background: #0073e6;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
}
/*.dropdown-content{
  margin-top: 20px;
}*/
