
.slides-icon {
  width: 40px;
  height: 100%;
  background: #f4b400;
  text-align: center;
}

.slides-title {
  width: 93vw;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10px;
}

.slides-title-input {
  display: flex;
  width:
}

.slides-title input {
  border: none;
  font-size: 18px;
  font-style: italic;
  color:gray;
}

.slides-title input:not([type]):focus:not([readonly]) {
  border: none;
  box-shadow: none;
  font-style: normal;
  color: black;
}
.slides-user {
  font-size: 10px;
  margin-top: -15px;
}

.slides-menu-bar {
  width: 93vw;
  font-size: 13px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.slides-menu-bar a{
  color: black;
  margin-right: 10px;
  background: white;
}

.slides-toolbar {
  background: rgb(238, 238, 238);
  display: inline-flex;
  align-items: center;
  width: 100vw;
  height: 35px;
  border: 1px solid #bfbfbf;
  padding-left: 55px;
}

.slides-toolbar a {
  height: 25px;
  display: flex;
  align-items: center;
  margin: 5px;
  color: black;
  font-size: 11px;
}
.slides-toolbar a:hover {
  border: 1px solid #bfbfbf;
  background-color: #f4f4f4;
  border-radius: 2px;
  margin: 4px;
}

.slides-toolbar i {
  font-size: 18px;
  margin: 0 2px;
}

.slides-toolbar-section {
  border-right: 1px;
  border-left: 1px;
  border: solid #bfbfbf;
}

.slides-dropdown {
  border-left: 1px solid #bfbfbf;
  width: 15px;
  height: 100%;
  font-size: 15px;
  padding-top: 5px;
}

.new-slide {
  border: 1px solid #bfbfbf;
  border-radius: 2px;
}

.add-slide {
  width: 30px;
}

.slides-right-border {
  border-right: 1px solid #bfbfbf;
  height: 100%;
}

.slides-hide-menu {
  position: absolute;
  right: 0;
  font-size: 20px;
}

.slides-workspace {
  display: flex;
  overflow: hidden;
}

.slide-nav {
  padding: 5px 0 0 0;
  height:84vh;
  width: 226px;
  border-right: #bfbfbf 1px solid;
  overflow: scroll;
}

.slide-nav-panel {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.slide-nav-panel:active {
  background: #D4d4d4;
}

.slide-nav-slide {
  width: 130px;
  height: 75px;
  background-color: white;
  border: 2px solid darkgray;
  margin:5px
}
.slide-nav-slide:active {
  border-color: #0096fd
}

.slide-positioning {
  height: 86%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-slide {
  position: relative;
  height: 40vw;
  width: 64vw;
  min-width: 480px;
  max-width: 640px;
  min-height: 300px;
  max-height: 400px;
  background-color: white;
  box-shadow: 0px 2px 2px 2px darkgray;

}

.comments {
  width: 100%;
  height: 75px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  background-color: white;
  border: 1px #bfbfbf solid;
}

.slide-title-input {
  position: absolute;
  bottom: 0;
  font-size: 36px;
  text-align: center;
}

.slide-title {
  position: absolute;
  height: 40%;
  width: 90%;
  top: 15%;
  left:5%;
  cursor: move;
  border: 1px solid #bfbfbf;
}

.slide-author {
  position: absolute;
  height:15%;
  width: 90%;
  top: 60%;
  left:5%;
  cursor: move;
  border: 1px solid #bfbfbf;
}

.slide-author-input {
  position: absolute;
  bottom: 0;
  transform: translatex(-50%);
  left: 50%;
  font-size: 24px;
  text-align: center;
  width: 80% !important;
}

.new-text-box {
  position: absolute;
  width: 90%;
  height: 15%;
  border: 1px solid #bfbfbf;
  cursor: move;
}

.new-input {
  font-size: 14px;
  width: 90% !important;
}


/*Make Slide Full Screen*/
:-webkit-full-screen {
    width:100%;
    height: 100%;
}
